
.h_space{


    font-family: 'Proza Libre', sans-serif;
    min-height: 200px;
    color:  #abb9d1;

}

body{

    background: black;
}

.whole_page{

    background: black;
    /*max-width: 960px;*/

}


.bl{

    color: #7EC7E8;
}

h1{
    font-size: 48px;

}


.sign_in{

    padding-bottom: 7.5%;
}

.logo_text{


    padding-top: 5%;
}


.title{


    padding-top: 1%;
    max-width: 60%;

    border-radius: 2%;




 /*old*/
/*    padding: 7.5%;
    max-width: 50%;

    border-radius: 2%;*/

}

.login{
    padding: 7.5%;
    background: #abb9d1;
    max-width: 50%;
    border-radius: 2%;
}
