<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Links App </title>

    {% include 'dependencies.html' %}

</head>

<body>

    <div class="whole_page">


        <div class="h_space ">

            <div class="container title">

                <div class="row">
                    <h1 class="text-center"> Super Link App </h1>
                </div>
            </div>
        </div>





        <!-- Holds the grid -->
        <div class="container login">

        <div class="row">

        <div class="col-md-12">
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1">@</span>
              <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
            </div>
        </div>


        <div class="col-md-12">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Recipient's username" aria-describedby="basic-addon2">
          <span class="input-group-addon" id="basic-addon2">@example.com</span>
        </div>
        </div>



        <div class="col-md-12">
        <div class="input-group">
          <span class="input-group-addon">$</span>
          <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
          <span class="input-group-addon">.00</span>
        </div>
        </div>


        <div class="col-md-12">
        <label for="basic-url">Your vanity URL</label>
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon3">https://example.com/users/</span>
          <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
        </div>
        </div>

        </div>



        </div>




    </div>







</body>



</html>