<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Links App </title>

    {% include 'dependencies.html' %}

</head>

<body>

    <div class="whole_page">


        <div class="h_space ">

            <div class="container title">

                <div class="row">

                    <div class="col-md-3">
                        <img class="center-block" src="../static/img/sls_logo.png" alt="sls logo">
                    </div>



                    <div class="col-md-9 logo_text">
                        <h1> <span class="bl">S</span>uper <span class="bl">L</span>ink <span class="bl">S</span>aver </h1>
                    </div>


                </div>
            </div>
        </div>




        <!-- Holds the grid -->
        <div class="container login">



        <div class="row">

        <div class="col-md-12">
            <H2 class="text-center sign_in"> Sign In </H2>
        </div>

        <div class="col-md-12">

          <div class="form-size"> <form action="" method="post">
            <div class="form-group">
              <input type="email" class="form-control" id="email" name="email" placeholder="Email">
            </div>
              <div class="form-group">
                <input type="password" class="form-control" id="password" name="password" placeholder="Password">
              </div>
            <div class="col-md-10"></div><button type="submit" class="btn btn-info">  Go! </button>
          </form> </div>


        </div>
        </div>



        </div>




    </div>







</body>



</html>
