<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Links App </title>

    {% include 'dependencies.html' %}

</head>

<body>

    <div class="whole_page">


        <div class="h_space ">

            <div class="container title">

                <div class="row">
                    <h1 class="text-center"> Super Link App </h1>
                </div>
            </div>
        </div>




        <!-- Holds the grid -->
        <div class="container login">

        <div class="row">



          <div class="form-size"> <form action="" method="post">
            <div class="form-group">
              <input type="email" class="form-control" id="email" name="email" placeholder="Email">
            </div>
              <div class="form-group">
                <input type="password" class="form-control" id="password" name="password" placeholder="Password">
              </div>
            <div class="col-md-10"></div><button type="submit" class="btn btn-info"> Log in </button>
          </form> </div>



        </div>



        </div>




    </div>







</body>



</html>
